body {
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
}

form {
    width: 500px;
    margin: 0 auto;
}

input, select {
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
    outline: none;
}

div label, input, select {
    display: inline-block;
    margin-bottom: 10px;
}

div label:first-of-type {
    padding-top: 10px;
}

label {
    width: 150px;
}

.short-label {
    width: 50px;
}

.inline-b {
    display: inline-block;
}

#picture-upload {
    font-size: 0.8em;
    border: none;
}

span {
    text-align: left;
    font-size: 0.8em;
}

.btn {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

legend {
    font-size: 1.2em;
}

::placeholder {
    font-family: 'Lato', sans-serif;
}

.middle {
    position: relative;
    top: -40px;
}